<script src="/static/vextab.js"></script>

<script>

    function str_pad_left(string, pad, length) {
        return (new Array(length + 1).join(pad) + string).slice(-length);
    }

    let myTimer;

    function clock() {
        myTimer = setInterval(myClock, 1000);
        let secondsRemaining = 120;

        function myClock() {
            --secondsRemaining;
            let minutes = Math.floor(secondsRemaining / 60);
            let seconds = secondsRemaining - minutes * 60

            let timeRemaining = str_pad_left(minutes, '0', 2) + ':' + str_pad_left(seconds, '0', 2);

            document.getElementById("timer").innerHTML = timeRemaining;
            if (secondsRemaining <= 0) {
                clearInterval(myTimer);
            }
        }
    }

    let timerRunning = false;

    function startTimer() {
        if (!timerRunning) {
            clock();
            document.getElementById('timer').innerHTML = '02:00';
            document.getElementById('timerButton').innerHTML = 'Reset';
            timerRunning = true;
        } else {
            clearInterval(myTimer);
            document.getElementById('timer').innerHTML = '02:00';
            document.getElementById('timerButton').innerHTML = 'Start';
            timerRunning = false;
        }
    }
</script>


<script>
    setTimeout(function () {
        const color = '#606060'
        const bgColor = '#e7e7e7'

        let tab = document.getElementById('tab').getElementsByTagName('path')
        for (let index = 0; index < tab.length; index++) {
            tab[index].setAttribute('stroke', color);
            tab[index].setAttribute('fill', color);
        }

        let text = document.getElementById('tab').getElementsByTagName('text')
        for (let index = 0; index < text.length; index++) {
            text[index].setAttribute('fill', color);

            if (text[index].innerHTML === 'vexflow.com') {
                text[index].innerHTML = '';
            }
        }

        let rect = document.getElementById('tab').getElementsByTagName('rect')
        for (let index = 0; index < rect.length; index++) {
            let rectangle = rect[index];
            if (rectangle.getAttribute('fill') != 'rgba(0, 0, 0, 0)') {
                rect[index].setAttribute('fill', color);
                rect[index].setAttribute('stroke', color);
            } else {
                rectangle.setAttribute('fill', bgColor);
            }
        }
    }, 100);

</script>

<style>
    .nav {
        color: #606060;
        font-family: "Bowlby One SC", sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav a:link, .nav a:visited, .nav a:hover, .nav a:active{
        color: #606060;
        text-decoration: none;
    }

    .content {
        margin: auto;
        width: 800px;
    }

    .diagrams {
        text-align: center;
    }

    #timerButton {
        background-color: #606060;
        border: none;
        color: #e7e7e7;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 150px;
    }

    #timer {
        margin-bottom: 10px;
        font-size: 42px;
        font-family: "Bowlby One SC", sans-serif;
        color: #606060;
        text-align: center;
        width: 150px;
    }

    .stopwatch {
        margin-top: 120px;
        float: right;
    }
</style>

<title>Guitar Exercise</title>

<body style="background-color: #e7e7e7">
<div class="content">
    <div class="nav">
        <a href="/">home</a>
    </div>

    <div class="diagrams">
        {% for diagram in diagrams %}
            <span class="diagram">{{ diagram | safe }}</span>
        {% endfor %}
    </div>


    <div class="tablature">
        <div class="vextab-auto" id="tab"
             width=800 scale=1.0 editor="false"
             editor-width=800 editor-height=330>
            options space=12 font-size=14
            tab-stems=true tab-stem-direction=down

            {{ tab }}
        </div>
    </div>

    <div class="stopwatch">
        <div id="timer">02:00</div>
        <div>
            <button id="timerButton" onclick="startTimer()">Start</button>
        </div>
    </div>

</div>
</body>
