<style>
    .content {
        margin: auto;
        width: 800px;
        font-family: "Bowlby One SC", sans-serif;
    }

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .accordion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }
</style>


<div class="content">
    {% for exercise_name, exercise in exercises.items() %}

        <button class="accordion">{{ exercise['title'] }}</button>
        <div class="panel">

            <ul>
                {% for variation in exercise['variations'] %}
                    <li>
                        <a href="/exercise/{{ exercise_name }}/{{ variation['id'] }}/">{{ variation['title'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>


    {% endfor %}

    <button class="accordion">Note Finder</button>
    <div class="panel">
        <ul>
            {% for note_finder in note_finders %}
                <li>
                    {{ note_finder['name'] }}
                    <ul>
                        {% for speed in ['slowest', 'slow', 'medium', 'fast'] %}
                            <li>
                                <a href="/note-finder/?strings={{ note_finder['query_string'] }}&speed={{ speed }}">
                                    {{ speed }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    <button class="accordion">Single Note Repeated on Each String (<a href = "https://www.youtube.com/watch?v=PJddQ6Q0UDo">instructions</a>)</button>
    <div class="panel">
        <ul>
            <li><a href="/note-on-each-string/">Natural</a></li>
            <li><a href="/note-on-each-string/?sharps=true">Sharp</a></li>
            <li><a href="/note-on-each-string/?flats=true">Flats</a></li>
        </ul>
    </div>

    <button class="accordion">Diatonic Chords</button>
    <div class="panel">
        <ul>
            <li><a href="/diatonic-chords/?key=C">C Major</a></li>
        </ul>
    </div>


</div>


<script>


    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
