<div>
    Exercises:
    <ul>
        {% for exercise_name, exercise in exercises.items() %}

            <li>
                {{ exercise['title'] }}
                <ul>
                    {% for variation in exercise['variations'] %}
                        <li>
                            <a href="/exercise/{{ exercise_name }}/{{ variation['id'] }}/">{{ variation['title'] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

        {% endfor %}
    </ul>
</div>
