<script src="/static/vextab.js"></script>

<script>

    function str_pad_left(string, pad, length) {
        return (new Array(length + 1).join(pad) + string).slice(-length);
    }

    let myTimer;
    let notes;
    let note_index;

    function clock() {
        let interval = {{ speed }};
        myTimer = setInterval(myClock, interval);
        let millisecond_remaining = 120000;

        function myClock() {
            millisecond_remaining -= interval;

            note_index++;
            let visible_note = document.getElementsByClassName('note')
            if (visible_note.length !== 0) {
                visible_note[0].setAttribute('class', 'hidden-note');
            }

            notes[note_index].setAttribute('class', 'note');


            if (millisecond_remaining <= 0) {
                clearInterval(myTimer);
                let visible_note = document.getElementsByClassName('note')
                visible_note[0].innerHTML = 'end'
            }
        }
    }

    let timerRunning = false;

    function startTimer() {
        notes = document.getElementById('note-container').getElementsByClassName('hidden-note');
        note_index = 0;

        if (!timerRunning) {
            clock();
            document.getElementById('timerButton').innerHTML = 'Reset';
            notes[note_index].setAttribute('class', 'note')

            timerRunning = true;
        } else {
            clearInterval(myTimer);
            document.getElementById('timerButton').innerHTML = 'Start';
            timerRunning = false;

            let visible_note = document.getElementsByClassName('note')
            if (visible_note.length !== 0) {
                visible_note[0].setAttribute('class', 'hidden-note');
            }
            note_index = 0;
        }
    }
</script>

<style>
    .nav {
        color: #606060;
        font-family: "Bowlby One SC", sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav a:link, .nav a:visited, .nav a:hover, .nav a:active {
        color: #606060;
        text-decoration: none;
    }

    .content {
        margin: auto;
        width: 800px;
    }

    #timerButton {
        background-color: #606060;
        border: none;
        color: #e7e7e7;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 150px;
    }

    #timer {
        margin-bottom: 10px;
        font-size: 42px;
        font-family: "Bowlby One SC", sans-serif;
        color: #606060;
        text-align: center;
        width: 150px;
    }

    .stopwatch {
        margin-top: 120px;
        float: right;
    }

    .note {
        font-family: "Bowlby One SC", sans-serif;
        font-size: 72px;
        color: #606060;
    }

    .hidden-note {
        display: none;
    }

    #note-container{
        height: 80px;
        text-align: center;
        padding-top: 80px;
    }
</style>

<title>Guitar Exercise</title>

<body style="background-color: #e7e7e7">
<div class="content">
    <div class="nav">
        <a href="/">home</a>
    </div>

    <div id="note-container">
        {% for note in notes %}
            <div class="hidden-note">{{ note['note'] }} {{ note['string'] }}</div>
        {% endfor %}
    </div>


    <div class="stopwatch">
        <div>
            <button id="timerButton" onclick="startTimer()">Start</button>
        </div>
    </div>

</div>
</body>
